<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BestSearch</title>
	<link rel="stylesheet" type="text/css" href="./index.css">
</head>
<body>
	<form id= "form1" action = "http://localhost:3000/search" method = "post">
		<span>Best Search</span>
		<br />
		<input type='text' id="submitTxt" name = "keyword"
		 placeholder="Enter the keyword">
		<input type="submit" id="bn" value ="Search"/>
	</form>

	<script type="text/javascript">
		document.querySelector('#submitTxt').focus();
		document.querySelector('#bn').onclick = function() {
			var keyword = document.querySelector('#submitTxt').value;
			var pattern = /\S/g;

			keyword = keyword.match(pattern);
			if (!keyword) {
				alert('The keyword be required!');
				return false;
			}
		}
	</script>
</body>
</html>