<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BestSearch</title>
	<link rel="stylesheet" type="text/css" href="./index.css">
</head>
<body>
	<form id= "form1" action = "http://localhost:3000/search" method = "post">
		<span>Best Search</span>
		<br />
		<input type='text' id="submitTxt" name = "keyword"
		 placeholder="Enter the keyword">
		<input type="submit" id="bn" value ="Search"/>
	</form>

	<script type="text/javascript">
		document.querySelector('#submitTxt').focus();
	</script>
</body>
</html>